body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
    display: flex;
}

.one {
    background-color: #00ad24;
    height: 30px;
    width: 30%;
}

.two {
    height: 50px;

    width: 70%;
    background-color: red;
}