.user {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 10px;
}

.username {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: dimgrey;
}

a:first-child,
span {
    padding-right: 10px;
}
